# קבצי קומפילציה
*.o
*.out
*.exe
*.log
*~

# תיקיות ביניים
build/

# VSCode
.vscode/

# קבצי מערכת
.DS_Store
Thumbs.db

# קבצים מחוץ לתיקיית הפרויקט — שלא נרצה שGit יעקוב אחריהם
../../*
../*
